* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Montserrat, Poppins, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--blue-neutral);
  background-color: var(--second-blue-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* cplug colors according to their website */
  --blue-neutral: #f8f9ff;
  --blue-light: #33c3f5;
  --blue-main: #00aff2;
  --blue-dark: #008ac2;

  --second-blue-light: #3c4a57;
  --second-blue-dark: #1c252d;
  --second-blue-main: #232e37;

  --green-light: #33ffa0;
  --green-main: #00f981;
  --green-dark: #00c965;
  --red-danger: #c81d25;
  --red-danger-light: #e72831;

  --neutral-10: #fff;
  --neutral-20: #f5f5f5;
  --neutral-30: #ededed;
  --neutral-40: #e0e0e0;
  --neutral-50: #c2c2c2;
  --neutral-60: #9e9e9e;
  --neutral-70: #757575;
  --neutral-80: #616161;
  --neutral-90: #424242;
  --neutral-100: #111;
}

.button-primary {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--blue-main);
  border: 1px solid var(--blue-light);
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.15s;
}
.button-primary:hover {
  background-color: var(--blue-dark);
}
.button-primary-disabled {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--neutral-90);
  border: 1px solid var(--neutral-90);
  font-size: 1rem;
  cursor: not-allowed;
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.button-secondary {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--neutral-100);
  border: 1px solid var(--neutral-100);
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.15s;
}
.button-secondary:hover {
  border: 1px solid var(--blue-main);
  color: var(--blue-main);
}
.button-text-cancel {
  background-color: transparent;
  color: var(--red-danger);
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.15s;
}
.button-text-cancel:hover {
  color: var(--red-danger-light);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
