* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-primary {
  padding: 10px;
  border-radius: 8px;
  background-color: #00aff2;
  border: 1px solid #62d3ff;
  cursor: pointer;
}
.button-primary:hover {
  transition: ease-in-out;
  transition-duration: 0.15s;
  border: 1px solid #00aff2;
  color: #76d8ff;
  background-color: #007aab;
}
.button-secondary {
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(23, 23, 23);
  border: 1px solid rgb(58, 58, 58);
  cursor: pointer;
}
.button-secondary:hover {
  transition: ease-in-out;
  transition-duration: 0.15s;
  border: 1px solid #00aff2;
  color: #00aff2;
  background-color: rgb(0, 0, 0);
}
.button-text-cancel {
  background-color: transparent;
  color: rgb(140, 0, 0);
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.15s;
}
.button-text-cancel:hover {
  background-color: transparent;
  color: rgb(235, 0, 0);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
